option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    SESSION_SECRET: '${SESSION_SECRET}'
    ISSUER_URL: 'https://replit.com/oidc'
    
Resources:
  AWSEBRDSDatabase:
    Type: AWS::RDS::DBInstance
    Properties:
      AllocatedStorage: 5
      DBInstanceClass: db.t3.micro
      DBName: photosphere
      Engine: postgres
      EngineVersion: 13.7
      MasterUsername: photosphere_user
      MasterUserPassword: '`{"Ref" : "PhotosphereDBPassword"}`'
      MultiAZ: false
      StorageType: gp2
    DeletionPolicy: Snapshot

  PhotosphereSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: RDS Security Group
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 5432
          ToPort: 5432
          SourceSecurityGroupName: '`{"Ref" : "AWSEBSecurityGroup"}`'

Parameters:
  PhotosphereDBPassword:
    NoEcho: true
    Type: String
    Description: The database admin account password
    MinLength: 8

Outputs:
  RDSConnectionString:
    Description: Connection string for the PostgreSQL database
    Value: '`{"Fn::Join": ["", ["postgres://", {"Ref": "AWSEBRDSDatabase.MasterUsername"}, ":", {"Ref": "PhotosphereDBPassword"}, "@", {"Fn::GetAtt": ["AWSEBRDSDatabase", "Endpoint.Address"]}, ":", {"Fn::GetAtt": ["AWSEBRDSDatabase", "Endpoint.Port"]}, "/photosphere"]]}`'